.promo__title {
color: #FFFFFF;
;
}

.promo__wrapper {
  background-image: url("../img/travel-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgb(131, 216, 241);
}
