.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 288px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 768px) {
    width: 726px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: 1920px) {
    width: 1170px;
  }
}
