.prices {
  @media (min-width: 1920px) {
    display: flex;
    flex-direction: row-reverse;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-end;
  }
}

.prices__wrapper {
  min-width: 288px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;

  @media (min-width: 1920px) {
    width: 340px;
    margin: 0;
  }
}

.prices__title {
  margin: 0 0 19px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  position: relative;
  padding-top: 2px;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: 1920px) {
    font-size: 55px;
    line-height: 90px;
    text-align: left;
    margin-bottom: 47px;
    padding-top: 112px;
    padding-left: 54px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      width: 175px;
      background: rgb(254, 120, 101);
      top: 216px;
      left: 54px;
    }
  }
}

.prices__paragraf {
  margin: 0 0 19px;
  opacity: 0.7;
  padding: 0 16px;

  @media (min-width: 768px) {
    padding: 0 21px;
    margin-bottom: 34px;
  }

  @media (min-width: 1920px) {
    width: 306px;
    text-align: left;
    padding: 0 0 0 54px;
    margin-bottom: 61px;
  }
}

.prices__title-link {
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
  color: rgb(20, 21, 23);
  padding-right: 4px;

  @media (min-width: 1920px) {
    font-size: 22px;
    padding-left: 76px;
  }
}

.prices__link {
  color: rgb(254, 120, 101);
  text-decoration: underline;
  font-size: 18px;
  line-height: 32px;

  @media (min-width: 1920px) {
    font-size: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    position: relative;
    padding-left: 74px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 23px;
      width: 19px;
      height: 23px;
      background-image: url("../img/phone-red.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
