.promo__wrapper {
  background-image: url("../img/travel-mobile.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-color: rgb(131, 216, 241);
  background-size: 100%;
  margin-bottom: 80px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/travel-mobile@2x.jpg");
  }

  @media (min-width: 768px) {
    background-image: url("../img/travel-tablet.jpg");
    min-height: 344px;
    margin-bottom: 70px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/travel-tablet@2x.jpg");
    }
  }

  @media (min-width: 1920px) {
    background-image: url("../img/travel-desktop.jpg");
    min-height: 860px;
    margin-bottom: 190px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/travel-desktop@2x.jpg");
    }
  }
}

.promo__title {
  width: 294px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  padding: 81px 10px 82px 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: 768px) {
    width: 398px;
    padding: 60px 185px 15px;
    font-size: 30px;
    line-height: 45px;
  }

  @media (min-width: 1920px) {
    width: 412px;
    padding: 184px 159px 30px 800px;
    font-size: 55px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -1px;
    text-align: left;
  }
}


.promo__container {
  background-color: rgb(255, 255, 255);

  @media (min-width: 768px) {
    background-color: transparent;
    min-height: 200px;
  }

  @media (min-width: 1920px) {
    padding: 0 217px 0 806px;
    width: 392px;
    margin-left: auto;
    margin-right: auto;
  }
}

.promo__paragraf {
  min-height: 108px;
  min-width: 288px;
  text-align: center;
  padding: 20px 16px 0;
  margin-top: 0;
  margin-bottom: 20px;
  letter-spacing: -0.5px;


  @media (min-width: 768px) {
    min-width: 398px;
    min-height: 80px;
    padding: 0 185px;
    margin: 0 0 10px;
    color: rgba(255, 255, 255, 1);
  }

  @media (min-width: 1920px) {
    min-width: 350px;
    padding: 0 0 0 17px;
    margin: 0 0 34px 0;
    text-align: left;
  }
}
