.questions {
  @media (min-width: 1920px) {
    background-color: rgb(255, 255, 255);
    width: 1170px;
    min-height: 311px;
    margin-left: auto;
    margin-right: auto;
  }
}

.questions__wrapper {
  background-color: rgba(251, 248, 248, 1);

  @media (min-width: 768px) {
    min-height: 455px;
    background-image: url("../img/questions-tablet.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    background-color: rgb(240, 147, 147);
    margin-bottom: 80px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/questions-tablet@2x.jpg");
    }
  }

  @media (min-width: 1920px) {
    min-height: 455px;
    width: 844px;
    margin-bottom: 158px;
    margin-right: auto;
    background-image: url("../img/questions-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/questions-desktop@2x.jpg");
    }
  }
}

.questions__wrap {
  min-width: 288px;
  min-height: 441px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    background-color: rgb(255, 255, 255);
    width: 658px;
    min-height: 311px;
    margin-top: 69px;
    border-radius: 5px;
  }

  @media (min-width: 1920px) {
    background-color: rgb(255, 255, 255);
    width: 656px;
    min-height: 315px;
    box-shadow: 0 4px 30px 0 rgba(41, 54, 66, 0.1);
    margin-left: 513px;
  }
}

.questions__title {
  margin: 0 0 19px;
  padding: 50px 10px 0;
  font-size: 25px;
  font-weight: 600;
  line-height: 32px;
  color: rgba(20, 21, 23, 1);

  @media (min-width: 768px) {
    margin-bottom: 11px;
  }
}

.questions__paragraf {
  margin: 0 0 20px;
  line-height: 24px;
  color: rgba(20, 21, 23, 1);
  padding: 0 16px;

  @media (min-width: 768px) {
    margin-bottom: 24px;
  }
}

.questions__form {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 558px;
    margin-left: auto;
    margin-right: auto;
  }
}

.questions__container {
  @media (min-width: 1920px) {
    margin-bottom: 5px;
  }
}
